---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import { formatDate, truncateTitle } from "../util/utils";
import Tag from "./Tag_Featured.astro";

const allwords: CollectionEntry<"words">[] = (
  await getCollection("words")
).sort(
  (a: CollectionEntry<"words">, b: CollectionEntry<"words">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const tagWords = allwords.filter((words) =>
  words.data.tags.includes("featured")
);

// Define a fixed order (array values are from 1 to 3)
const displayOrder = [1, 3, 2];


---

<div class="w-full flex-grow sm:max-w-[812px]">
  {
    tagWords.map((words, index) => {
      // No wrapping: Just use the corresponding displayOrder index
      const currentIndex = displayOrder[index] - 1;

      return (
        <div class="border-mgray grid grid-cols-3">
          {[0, 1, 2].map((i) => (
            <div class="">
              <div class="relative w-full">
                {i === currentIndex ? (
                  <div class="flex-col p-0.5 sm:p-1">
                    <div class="overflow-hidden">
                      <a href={"/words/" + words.slug}>
                        <Image
                          transition:name={words.data.cover.path.src}
                          class="aspect-square w-full object-cover transition-transform duration-200 ease-in-out hover:scale-105"
                          src={words.data.cover.path}
                          alt={words.data.cover.alt}
                          loading="eager"
                        />
                      </a>
                    </div>

                    <div class="mx-0.5 text-[0.45rem] leading-[0.6rem] sm:text-xs">
                      <p class="pt-2">
                        <span>{words.data.title} ~ </span>
                        <span class="italic">{words.data.description}</span>
                      </p>
                    </div>
                  </div>
                ) : null}
              </div>
            </div>
          ))}
        </div>
      );
    })
  }
</div>
