---
import MainLayout from "../../layouts/main-layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../../util/utils";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

export async function getStaticPaths() {
  const allWriting: CollectionEntry<"writing">[] =
    await getCollection("writing");

  return allWriting.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
  <div class="flex flex-grow flex-col items-center">
    <div class="w-full border-b border-b-mgray pb-8 pt-6 md:max-w-[812px]">
      <h2 class="pb-4 text-lg font-bold">{entry.data.title}</h2>
      <p class="">{entry.data.description}</p>

      <div>
        <div class="flex flex-wrap gap-3 pt-2">
          {
            entry.data.tags.map((tag: string) => (
              <span class="rounded-full bg-mgray px-2 py-[3px] text-xs">
                <a href={"/writing/tag/" + tag}>{tag}</a>
              </span>
            ))
          }
        </div>
      </div>
      <p class="pt-2">
        Uploaded on {formatDate(entry.data.pubDate)}
      </p>
    </div>
    <div class="py-6 md:max-w-[812px]">
      <img src={"/images/" + entry.data.image.path} alt={entry.data.image.alt} class="rounded-md" />
    </div>
    <div class="md:max-w-[812px]">
      <Content />
    </div>
  </div>
</MainLayout>

<style is:global>
  ol {
    padding: 15px 0px 15px 25px;
    list-style-type: decimal;
  }

  li {
    padding-left: 5px;
  }

  @media (min-width: 768px) {
    ol {
      padding: 25px 0px 25px 45px;
    }

    li {
      margin-top: 12px;
      padding-left: 18px;
    }
  }
</style>
