---
import MainLayout from "../../layouts/main-layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../../util/utils";
import { Image } from "astro:assets";
import Tags from "../../components/TagsList.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

export async function getStaticPaths() {
  const allWriting: CollectionEntry<"writing">[] =
    await getCollection("writing");

  return allWriting.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
  <div class="flex flex-grow flex-col items-center text-skin-text">
    <div
      class="w-full border-b border-b-skin-bg-sub pb-8 pt-6 md:max-w-[812px]"
    >
      <h1 class="pb-4">{entry.data.title}</h1>
      <p class="">{entry.data.description}</p>

      <Tags tags={entry.data.tags} />

      <p class="pt-2">
        Uploaded on {formatDate(entry.data.pubDate)}
      </p>
    </div>
    <div class="py-6 md:max-w-[812px]">
      <div class="flex flex-wrap gap-3 pt-2">
        {
          (
            <Image
              transition:name={entry.data.cover.path.src}
              src={entry.data.cover.path}
              alt={entry.data.cover.alt}
              class="rounded-xl"
            />
          )
        }
      </div>
    </div>

    <div class="prose prose-sm max-w-full md:max-w-[812px]">
      <Content />
    </div>
  </div>
</MainLayout>
